/* styles.css */

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    display: block;
    text-align: center;
    margin: 10px auto;
    border: 1px solid red;
    border-radius: 10px;
    background-color:burlywood;
}

ul {
    border: 1px solid red;
    text-align: center;
    list-style: none;
    border-radius: 10px;;
}

li {
    border: 1px solid blue;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
}

li a {
    text-decoration: none;
    color: coral;
}

.recipe_name:hover {
    background-color: blueviolet;
}

ol li {
    
}

h2 {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px
}

p {
    border: 1px solid red;
    text-align: center;
    background-color: red;
    color: aliceblue;
    font-weight: bold;
}

.home {
    display: block;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: red;
}

.home:hover {
    background-color: blue;
}

img {
    display: block;
    margin: 10px auto;
}
