/* styles.css */

body {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

h1 {
    display: block;
    text-align: center;s
    width: 100%;
    background-color:antiquewhite;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

.table_wrapper {
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

.ingredients_table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

.ingredients_table th, .ingredients_table td {
    padding: 2px;
    text-align: left;
    width: 40%;
}

.ingredients_tableth {
    background-color: #f2f2f2;
}

.ingredients_table td {
    text-align: left;
}

.ingredients_table input[type="checkbox"] {
    transform: scale(1.5); /* Makes boxes larger */
    margin-right: 8px;
    cursor: pointer; /* Changes cursor to pointer finger */
    margin: 0 auto; /* Centers in cell */
    display: block;
}

.ingredients_table .quantity {
    text-align: center;
}

.steps{
    list-style: none;
    border-radius: 12px;
    text-align: center;
    /* list-style-position: inside; Moves numbers to inside */
    list-style: none;
    padding-left: 0;
}

.steps li::marker {
    color: red;
}


.steps li:hover {
    background-color: greenyellow;
}

.steps input {
    display: none;
}

.steps label {
    display: block;
    font-size: large;
    border: 2px solid black;
    border-radius: 4px;
    margin: -2px 0; /* This removes the doubling up */
    transition: background-color 0.4s ease; /* Smooth change */
    padding: 8px;
}

.steps li input:checked + label {
    background-color: greenyellow;
    text-decoration: line-through;
}

.home {
    display: block;;
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: larger;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
}

.home p {
    text-align: center;
    margin: 8px auto;
}

.home:hover {
    background-color: bisque;
}